.icon--document {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
    background-color: blue;
	width: 18px;
	height: 20px;
	border-radius: 0.9px;
	border-top-right-radius: 6px;
	margin-right: 6px;
    
    transform: scale(1.5);
}

.icon--document__corner {
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	height: 6px;
	width: 6px;
	top: 0px;
	right: 0px;
    background-color: white;
    border-bottom-left-radius: .9px;
}

.icon--document__corner::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: blue;

    transform: translateX(-3.2px) translateY(1.2px) rotate(45deg);
    clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
    
    border-top-left-radius: 1.2px;
    border-top-right-radius: 1.2px;
}

